In [ ]:
first = (30, "teclov", 5.8)
print(first[0])

In [ ]:
type(first)

In [ ]:
city = ("Bangalore", 28.9949521, 72) 
print(city)

In [ ]:
new = city
print(new)

In [ ]:
type(new)

In [ ]:
# will throw error
new[1] = 13.8877

In [ ]:
b = city[:-1]
print(b)
print(len(b))

In [ ]:
new1 = 123, 543, 'hello!'
new1

In [ ]:
type(new1)

In [ ]:
new2 = new1, (1, 2, 3, 4, 5)
new2

In [ ]:
new2[1]

In [ ]:
type(new2[1])

In [ ]:
# must error out
new2[3]

In [ ]:
var1 = ([1, 2, 3], [4,5,6])

In [ ]:
var1[0] = 2

In [ ]:
var1[0][0] = 2

In [ ]:
var1

In [ ]:
c = list(var1)
print("c is: {0}".format(c))
c= tuple(c)
print("c is now a tuple: {0}".format(c))